//@font-face {
//	font-family: 'fontFreeDemi';
//	src: url('../fonts/SFUFreewayLight.TTF');
//}

@font-face {
	font-family: 'MontserratBold';
	src: url('/../fonts/Montserrat-Bold.ttf')
}

@font-face {
	font-family: 'MontserratMedium';
	src: url('/../fonts/Montserrat-Medium.ttf')
}

@font-face {
	font-family: 'MontserratSemiBold';
	src: url('/../fonts/Montserrat-SemiBold.ttf')
}

@font-face {
	font-family: 'RobotoCondensedBold';
	src: url('/../fonts/RobotoCondensed-Bold.ttf')
}

@font-face {
	font-family: 'BebasneueBold';
	src: url('/../fonts/BEBASNEUE-BOLD.OTF') format('opentype')
}
