// @include respond-to(params) to call this.
@mixin respond-to($media) {
	// Bootstrap 3
	@if $media == xs {
		@media (max-width: 576px) { @content; }
	}
	@else if $media == sm {
		@media (min-width: 576px) and (max-width: 768px) { @content; }
	}
	@else if $media == md {
		@media (min-width: 768px) and (max-width: 992px){ @content; }
	}
	@else if $media == mdt {
		@media (min-width: 1200px) and (max-width: 1300px) { @content; }
	}

	//Boostrap 4
	@else if $media == xl-v4 {
		@media (min-width: 1200px) { @content; }
	}
	@else if $media == lg-v4 {
		@media (min-width: 992px) and (max-width: 1199px){ @content; }
	}
	@else if $media == md-v4 {
		@media (min-width: 768px) and (max-width: 991px){ @content; }
	}
	@else if $media == sm-v4 {
		@media (min-width: 576px) and (max-width: 767px){ @content; }
	}
	@else if $media == xs-v4 {
		@media (max-width: 576px) { @content; }
	}
}

// Change em to px
@function exch($dem) {
	@return $dem * (12/16) + px;
}

@function  prop($num) {
	@return ($num / 1366) * 100 + vw;
}

@function get-vw($target) {
	$vw-context: (1000 * .01) * 1px;
	@return ($target / $vw-context) * 1vw;
}
