body {
  background-color: #FFF4E5;
}

h1 {
  width: 65%;
  margin: 0 auto;
  padding: 30px 0;
  border-bottom: 1px solid #FFBE65;
  text-align: center;
  font-family: RobotoCondensedBold;
  font-size: 52px;
  color: #707070;

  @include respond-to(md-v4) {
    width: 80%;
    font-size: 45px;
  };

  @include respond-to(sm-v4) {
    width: 80%;
    font-size: 38px;
  };

  @include respond-to(xs-v4) {
    width: 90%;
    padding: 20px 0;
    font-size: 40px;
  };
}

.rank--table {
  width: 90%;
  margin: 30px auto;
  color: #4D4D4D;
}

.rank--title {
  font-family: RobotoCondensedBold;
  font-size: 29px;
  color: #707070;

  @include respond-to(md-v4) {
    font-size: 22px;
  };

  @include respond-to(sm-v4) {
    font-size: 18px;
  };

  @include respond-to(xs-v4) {
    font-size: 18px;
  };

  .title--category {
    text-align: center;

    @include respond-to(xs-v4) {
      display: none;
    };
  }

  .title--category-total {
    text-align: center;
  }
}

.detail--stt {
  position: relative;
  img {
    width: 40px;
    height: auto;
    margin: 10px auto;

    @include respond-to(sm-v4) {
      width: 30px;
    };

    @include respond-to(xs-v4) {
      width: 25px;
    };
  }

  p {
    position: absolute;
    top: 12px;
    left: 15px;
    font-family: BebasneueBold;
    font-size: 30px;

    @include respond-to(sm-v4) {
      left: 12px;
      font-size: 22px;
    };

    @include respond-to(xs-v4) {
      left: 10px;
      font-size: 18px;
    };
  }
}

.detail--name {
  p {
    width: 90%;
    margin: 0;
    padding: 5px 20px;
    font-family: MontserratMedium;
    font-size: 22px;
    background-color: #C8EFEE;
    border: 3px solid #0095B7;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;

    @include respond-to(md-v4) {
      font-size: 18px;
    };

    @include respond-to(sm-v4) {
      font-size: 15px;
    };

    @include respond-to(xs-v4) {
      font-size: 13px;
    };
  }
}

.top-one {
  p {
    background-color: #FFF085;
    border-color: #FFC431;
    font-family: MontserratSemiBold;
  }
}

.top-two {
  p {
    background-color: #E6E6E6;
    border-color: #848B99;
    font-family: MontserratSemiBold;
  }
}

.top-three {
  p {
    background-color: #FFCA61;
    border-color: #E2940A;
    font-family: MontserratSemiBold;
  }
}

.detail--count {
  font-family: MontserratMedium;
  font-size: 22px;
  text-align: center;

  @include respond-to(md-v4) {
    font-size: 18px;
  };

  @include respond-to(sm-v4) {
    font-size: 15px;
  };

  @include respond-to(xs-v4) {
    display: none;
  };
}

.detail--total {
  font-family: MontserratBold;
  font-size: 22px;
  text-align: center;

  @include respond-to(md-v4) {
    font-size: 18px;
  };

  @include respond-to(sm-v4) {
    font-size: 15px;
  };
}
