.error {
  .notification {
    width: 80%;
    margin: 15% auto;
    text-align: center;
  }

  .fa-info-circle {
    font-size: 70px;
    color: #FF4343;
    margin-bottom: 20px;
  }

  p {
    font-family: RobotoCondensedBold;
    font-size: 41px;
    color: #707070;

    @include respond-to(sm-v4) {
      font-size: 35px;
    };

    @include respond-to(xs-v4) {
      font-size: 30px;
    };
  }
}
